.skills {
  list-style: none;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: center;
  width: 150px;
  height: 200px;
}
